$clr-primary-violet:#7541c8;
$clr-primary-dgb:#48556a;
$clr-primary-dbb:#19212e;
$clr-white: #ffffff;

$clr-neutral-lgray:#cfcfcf;
$clr-neutral-lgblue:#ecf2f8;

$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;
$fw-thin:100;


$ff: 'Barlow Semi Condensed', cursive;

$img-bgclr:#a58ccd;

$fs-300:0.6875rem;